@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

@font-face {
  font-family: Caveat;
  src: url('./fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url('../public/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto , serif;
  height: 100vh;
  width: 100vw;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
}

.home-btn {
  background: #fff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.home-btn:hover {
  transform: scale(1.1);
}

.login-form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
}

.login-input {
  border: solid 1px rgba(230, 229, 229, 0.685);
  padding: 12px 16px;
}

.button {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  height: 45px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.play-button {
  background: #2fc18c;
}

.settings-button {
  align-items: center;
  background: #35906f;
  display: flex;
  justify-content: center;
}

.settings-button > img {
  margin-right: 10px;
}

.play-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

header {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: Caveat , cursive;
  font-size: 22px;
  justify-content: space-between;
  padding: 10px 25px;
  top: 0;
  width: 100%;
}

.header-score {
  font-size: 2em;
}

.avatar {
  border-radius: 50%;
  margin-left: 0.5em;
  width: 40px;
}

.house-icon {
  margin-right: 1em;
  width: 40px;
}

.house-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 0;
  padding: 0;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 25px;
}

.question-category-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.903);
  border-radius: 5px;

  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 12px;
  padding: 10px;
}

.category-container {
  background-color: #00d5e2;
  border-radius: 15px;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: -20px;
  padding: 8px;
  text-align: center;
}

.content-question {
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 1em;
  margin-bottom: 40px;
  padding: 20px;
}

.content-question img {
  padding-top: 20px;
}

.content-question p {
  font-size: 13px;
  margin-top: 10px;
  text-align: start;
}

.question-container {
  border-radius: 5px;
  font-size: 1.1em;
  text-align: center;
  white-space: pre-line;

  /* position: absolute; */
}

.question-logo {
  margin: 0 30px;
  width: 300px;
}

.answers-container {
  display: grid;
  font-size: 1.2em;
  gap: 10px;
}

.answers-container > button {
  padding-left: 12px;
  text-align: start;
}

.answers-container > button {
  background-color: rgba(255, 255, 255, 0.903);
  color: black;
  height: 100%;
  min-height: 24px;
}

.answers-container > button:hover {
  border: 2px solid rgb(153, 120, 231);
}

.next-button {
  background: #2fc18c;
  margin-top: 24px;
  width: 100%;
}

.timer-button {
  font-size: 1.2em;
  pointer-events: none;
}

/* deve centralizar os itens do select */
.custom-select {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 1.15rem;
  padding: 0.675em 1em;
  position: relative;
  width: 70px;
}

.custom-select, option {
  align-items: center;
  color: #606064;
  display: flex;
  font-size: 13px;
  justify-content: center;
  text-align: center;
}

.custom-select:before, .custom-select:after {

  --size: 0.3rem;
  content: '';
  pointer-events: none;
  position: absolute;
  right: 1rem;
}

.custom-select:before {
  border-bottom: var(--size) solid black;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  top: 40%;
}

.custom-select:after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.greenBoard {
  border: solid 10px rgb(240, 6, 185);
}

.answers-container > .red {
  background-color: red;
  color: white;
}

.answers-container > .green {
  background-color: rgb(6, 240, 15);
}

.answers-container > button:disabled {
  pointer-events: none;
}

.settings-container {
  align-items: center;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  padding-bottom: 20px;
  text-align: center;
}

.feedback-card, .ranking-container {
  align-items: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  font-family: Abel , cursive;
  justify-content: center;
  margin: auto 1em;
  min-width: 300px;
  padding: 2em;
  text-align: center;
}

.feedback-card img {
  border-radius: 50%;
  margin-top: -40px;
  width: 60px;
}

.feedback-text {
  font-family: Caveat , cursive;
  font-size: 4em;
  line-height: 0.9em;
}

.score-text {
  align-items: center;
  display: flex;
  font-family: Abel , cursive;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 240px;
}

.score-text-container {
  display: flex;
  flex-direction: row;
  font-family: Caveat , cursive;
  font-size: 48px;
}

.question-image {
  width: 100%;
}

.buttons-container {
  padding-top: 1em;
  width: 100%;
}

.feedback-card button {
  width: 100%;
}

.ranking-container button {
  margin-top: 1em;
  width: 100%;
}

.player-info-container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  margin: 1em auto;
}

.ranking-title {
  font-family: Caveat , cursive;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.ranking-avatar {
  border-radius: 50%;
  width: 40px;
}

fieldset {
  align-items: center;
  border: solid 1px rgba(230, 229, 229, 0.685);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

fieldset label {
  color: rgba(44, 41, 41, 0.685);
  font-family: Abel , cursive;
  font-size: 18px;
  margin-bottom: 2em;
}

fieldset .button {
  margin-top: 2em;
}

.legend1 {
  color: rgba(44, 41, 41, 0.685);
  font-family: Abel , sans-serif;
  font-size: 24px;
  margin-bottom: 0.5em;
  margin-right: auto;
}

.question-year {
  align-items: center;
  background-color: #2fc18c;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: -40px;
  padding: 4px;
  text-align: center;
  width: 200px;
}

@media ( width <= 600px ) {

  .avatar {
    display: none;
  }

  .wrapper {
    flex-direction: column;
  }

  .question-logo {
    width: 80px;
  }
}
